<!doctype html>
<html>
    <head>
        <title>Select your Benchmark</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="/vue.js"></script>
        <script src="/jquery-3.2.1.min.js"></script>
        <!--
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.13.min.js"></script>
-->
        <meta charset="utf-8" />
    </head>
    <body>
<div id="benchmark">
<h2>Select Benchmark</h2>
<div id="app">
       Select the benchmark used for comparison:
        <!-- Select the benchmark -->
<select v-model="selected" v-on:change="onChangedBenchmark">
    <option value="" selected="selected" value="-1">------</option>
    <option v-for="bench in benchmarks" :value="bench.id">{{bench.name}}</option>
</select>
<form id="data" action="/pepe" method="post" enctype="multipart/form-data" v-on:submit="sendData">
<!-- Only visible with the benchmark was selected --><template v-if="selected >= 0">
<!-- Form with the data (in ajax) -->
    <h2>{{benchmarks[selected].title}}</h2>
    <p>{{benchmarks[selected].description}}
    </p>
    <template v-if="benchmarks[selected].dimensions.length > 1">
    Select the dimension value:
    <select name="dimension" v-model="dimension">
        <option v-for="dim in benchmarks[selected].dimensions" v-bind:value="dim">[[dim]]</option>
    </select>
    </template>
    <template v-else>
        <p>
            <input type="hidden" v-bind:value="benchmarks[selected].dimensions[0]" name="dimension"/>
            Dimension value: <strong>{{benchmarks[selected].dimensions[0]}}</strong>
        </p>
    </template>
            <!-- benchmark_id -->
            <input type="hidden" v-bind:value="benchmarks[selected].id" name="benchmark_id"/>
            <!-- dimension -->
            <input type="hidden" v-bind:value="dimension" name="dimension"/>
        </p>
    <h2>Algorithms to compare</h2>
    <!-- algs with the list of algorithms to compare -->
    <template v-if="available_algs.length > 0">
        <template v-for="alg in available_algs">
            <p>
            <ul class="checkbox">
                <li><input type="checkbox" v-bind:value="alg" name="algs" v-model="algs" checked>{{alg}}</li>
            </ul>
            </p><br>
        </template>
    </template>
    <template v-else>
        <p>
            There are not algorithms to compare.
        </p>
    </template>
<h2>Update your results</h2>
<p>
If you want to compare existing results with your own proposal, set a Excel or a CSV file with
    the results. The required format is indicated <a href="">here</a>.
</p>
    <label id="file" for="fileupload">Select a file (.csv or .xls) to upload<br/></label>
    <p><input id="upload_button" type="file" name="file"></p>
    <input id="alg_name" name="alg_name" v-model="alg_name" placeholder="Proposal">
    <div v-if="error" class="error">
        <label id="error">{{error}}</label>
    </div>
    <p>When it is ready click in the button</p>
    <p><input id="submit_button" type="submit" class="" value="Upload"></p>
    </template>
</template>
</template>
</form>
    </div>
    <script src="./run.js"></script>
</div>
</body>
</html>
