<!doctype html>
<html>
    <head>
        <title>Select your Benchmark</title>
        <script src="/static/js/index_lib.js" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <meta charset="utf-8" />
    </head>
    <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="." class="navbar-brand">TFLSGO Comparison web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="">Compare</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/update">Update data</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Cerulean</h1>
          </div>
        </div>
      </div>
 <div class="bs-docs-section clearfix">      
    <div id="app" class="row" id="benchmark">
        <div class="row">
            <div class="col-lg-12">
                <h2>Select Benchmark</h2>
       Select the benchmark used for comparison:
        <!-- Select the benchmark -->
<select v-model="selected" v-on:change="onChangedBenchmark">
    <option value="" selected="selected" value="-1">------</option>
    <option v-for="bench in benchmarks" :value="bench.id">{{bench.name}}</option>
</select>
<form id="data" action="/pepe" method="post" enctype="multipart/form-data" v-on:submit="sendData">
<!-- Only visible with the benchmark was selected --><template v-if="selected >= 0">
<!-- Form with the data (in ajax) -->
    <h2>{{benchmarks[selected].title}}</h2>
    <p>{{benchmarks[selected].description}}
    </p>
    <template v-if="benchmarks[selected].dimensions.length > 1">
    Select the dimension value:
    <select name="dimension" v-model="dimension" v-on:change="onChangedDimension">
        <option v-for="dim in benchmarks[selected].dimensions" v-bind:value="dim">{{dim}}</option>
    </select>
    </template>
    <template v-else>
        <p>
            Dimension value: <strong>{{benchmarks[selected].dimensions[0]}}</strong>
        </p>
    </template>
    <p>
            <!-- benchmark_id -->
            <input type="hidden" v-bind:value="benchmarks[selected].id" name="benchmark_id"/>
            <!-- dimension -->
            <input type="hidden" v-bind:value="dimension" name="dimension"/>
    </p>
    <h2>Algorithms to compare</h2>
    <!-- algs with the list of algorithms to compare -->
    <template v-if="available_algs.length > 0">
        <template v-for="alg in available_algs">
            <p>
            <ul class="checkbox">
                <li><input type="checkbox" v-bind:value="alg" name="algs" v-model="algs" checked>{{alg}}</li>
            </ul>
            </p><br>
        </template>
    </template>
    <template v-else>
        <p>
            There are not algorithms to compare.
        </p>
    </template>
<h2>Update your results</h2>
<p>
If you want to compare existing results with your own proposal, set a Excel or a CSV file with
    the results. The required format is indicated <a href="">here</a>.
</p>
    <label id="file" for="fileupload">Select a file (.csv or .xls) to upload<br/></label>
    <p><input id="upload_button" type="file" name="file"></p>
    <input id="alg_name" name="alg_name" v-model="alg_name" placeholder="Proposal">
    <div v-if="error" class="error">
        <label id="error">{{error}}</label>
    </div>
    <template if="len(benchmark[selected].reports)==1">
        <p>
            <strong>Report: {{benchmarks[selected].reports[0].description}}</strong>
        </p>
    </template>
    <template v-if="benchmarks[selected].reports.length > 1">
        <p>
            <strong>Select the Report:</strong>
            <select v-model="report_name" name="report_name">
                <option v-for="report_item in benchmarks[selected].reports" :value="report_item.name">{{report_item.description}}
                </option>
            </select>
        </p>
    </template>
    <input type="hidden" name="report" :value="report_name">
    <p>When it is ready click in the button</p>
    <p><input id="submit_button" type="submit" class="" value="Update"></p>
</template>
</form>
<template v-for="index in tables.idx">
    <h2>{{tables.titles[index]}}</h2>
    <div class="bs-component">
        <div class="table dataframe">
        <span v-html="tables.tables[index]"></span>
            </p>
</div>
</template>
<div id="figures">
</div>
            </div>
        </div>
    </div>
 </div>
    </div>
 <script src="/static/js/index.js" charset="utf-8"></script>
</body>
</html>
