<!doctype html>
<html>
    <head>
        <title>Login</title>
        <script src="/jquery-3.2.1.min.js"></script>
        <script src="/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="utf-8" />
    </head>
    <body>
        <div id="login">
        <form action="/api/login" method="post" v-on:submit="login">
            <label>Username</label>
            <input type="text" name="username" placeholder="username@gmail.com" />
            <label>Password</label>
            <input type="password" name="password" placeholder="" />
            <input type="submit" value="upload" />
        </form>
        <div class="error" v-if="error">
            {{error}}
        </div>
        <form method="post" action="#" v-on:submit="store" enctype="multipart/form-data">
        <template v-if="token">
            <input type="hidden" name="token" v-bind:value="token" />
            <template v-if="algs.length > 0">
                <h2>List of your algorithms</h2>
                <p>
                    <select-bench :benchmark.sync="bench_user" :token="token"></select-bench>
                </p>
                <template v-for="alg in algs">
                    <input type="checkbox" v-model="sel_algs" :value="alg"><label>{{alg}}</label>
                </template>
                <p>
                    <button type="button" v-on:click="check_delete">Delete</button>
                </p>
            </template>
            <template v-else>
                <h2>There is no algorithms</h2>
            </template>
        </template>
        <h2>Update your results</h2>
        <p>
            <select-bench :benchmark.sync="benchmark"></select-bench>
            <input type="hidden" v-bind:value="benchmark.id" name="benchmark_id"/>
            <template v-if="benchmark.name">
                Select the file to submit your results.
                <input-alg v-bind:benchmark="benchmark"></input-alg>
                <input type="submit" value="store">
            </template>
        </p>
        </form>
        <div class="error" v-if="error_load">
            {{error_load}}
        </div>
        <div v-if="message">
            {{message}}
        </div>
        </template>
        </div>
        <script src="/runcommon.js" charset="utf-8"></script>
        <script src="/runlogin.js" charset="utf-8"></script>
    </body>
</html>
